.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: #111827;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
}

.navbar button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}